{% extends "@app/views/layouts/main.twig" %}

{% block content %}
<div class="site-index">

    <div class="jumbotron">
        <h1></h1>

        <p class="lead">
            Приветствую!
        </p>
    </div>

    <div class="body-content">
    </div>
</div>
{% endblock %}